menu "HASS Environment Sensor"
    config HASS_ENVIRONMENT_SENSOR_OTA_MANUFACTURER
        hex "OTA manufacturer ID"
        default 0x0
        help
            A unique ID that identifies you as manufacturer.
        range 0x0 0xFFFF

    config HASS_ENVIRONMENT_SENSOR_VERSION_MAJOR
        int "Major version number"
        default 1
        range 0 255

    config HASS_ENVIRONMENT_SENSOR_VERSION_MINOR
        int "Minor version number"
        default 0
        range 0 4095

    config HASS_ENVIRONMENT_SENSOR_VERSION_PATCH
        int "Patch version number"
        default 0
        range 0 4095
endmenu
